

.wrapper-body{
  z-index: -1;
  height: 90vh;
  position: relative;
}

#myVideo{
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#myVideoMobile{
  display: none;
}

.menu img{
  padding-bottom: 3px;
}

.wrapper-body{
  overflow: hidden;
}

#imgHome{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}

@media screen and (max-width: 700px){
  #myVideoMobile{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100%;
    z-index: -1;
    padding-bottom: 10rem;
  }

  #myVideo{
    display: none;
  }

  .wrapper-body{
    height: 92vh;
  }
}
