.wrapper-velos{
  background: rgb(231, 231, 231);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  padding-top: 2rem;
  align-content: flex-start;
}




.svg-container{
  position: relative;
  width: min(14rem,40vw);
  height: min(17rem);
  margin: 0rem 2.7rem 0rem 1rem;
}

.test{
  height: min(17rem);
  margin-bottom: 2rem;
}

#layer_1{
  filter: drop-shadow( 0 0 15px rgba(0, 0, 0, .2));
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}



.content-vignette{
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5px 5px 10px;
}


#type{
  font-size: 1.3rem;
  padding-top: 1rem;
}

#dollar{
  font-weight: bold;
}
#model{
  font-size: 1.4rem;
  font-weight: 500;
}

#marque{
  font-size: 1.3rem;
}

#emprunt{
  font-size: 1.3rem;
  font-weight: 200;
}

#start{
  display: flex;
  justify-content: center;
}

.velo-img{
  position: absolute;
  top: 10;
  right: -25%;
  width: 12rem;
}



#rating{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.star{
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  
}
.star.unrated{
  font-size: 1.5rem;
}
.star p{
  font-size: 1rem;
}
.star img{
  width: 2rem;
  margin-right: 5px;
}


.heart svg{
  width: 2.8rem;
}

h3{
  font-size: 3rem;
  padding: 7rem 0rem 2rem 2rem;
}


/*tab*/
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    display: none;
    height: 100%;
}

.cls-1.filled {
  fill: red;
}
