@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --header1: 3.4rem;
    --header2: 1.8rem;
    --header3: 1.6rem;
    --header4: 1.8rem;
    --text: 2rem;
    --menu: 1.5rem;
    --logo: 10rem;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: var(--header1);
}

li,
button,
label,
input,
a,
p {
    font-size: var(--text);
}

h2 {
    font-size: var(--header2);
}

h3 {
    font-size: var(--header3);
}

h4,
h5 {
    font-size: var(--header4);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* END GLOBAL STYLES */

.desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    box-shadow: 0 0 15px gray;
    position: relative;
    min-height: 8vh;
}



#logo-container img {
    width: 10rem;
}

.user-icon img {
    width: 3rem;
}

.mobile .menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.mobile .menu p{
  font-size: 1.2rem;
}

#menu {
    width: 50rem;
    display: flex;
    justify-content: space-around;
}

#menu a {
    font-size: var(--menu);
}

.mobile {
  display: none;
}

section{
  max-height: 91vh;
  overflow: hidden;
}

.profile-nav {
  position: absolute;
  z-index: 10;
  top: 100%;

  bottom:auto;
  right: 0;
  background: rgb(235, 235, 235);
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 300ms;
/*   display: none; */
  z-index: 3;
}

.profile-nav--open {
  clip-path: circle(250% at bottom right);
  z-index: 10;
/*   display: block; */
}

.profile-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.profile-nav li {
  border-bottom: 1px solid #575766;
}

.profile-nav li:last-child {
  border-bottom: none;
}

.profile-nav a {
  color: #000000;
  display: block;
  padding: 1em 2em 1em 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3rem;
}

.profile-nav a:hover,
.profile-nav a:focus {
  background: #f3f3f3;
  color: #464655;
}

.user-icon {
  cursor: pointer;
}

@media screen and (max-width: 700px){

  nav{
    z-index: 2;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 15px gray;
  }

  #logo-container{
    display: none;
  }

  .desktop{
    display: none;
  }

  .mobile{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .mobile img{
    width: 4rem;
  }

  .mobile .menu {
    flex:1;
    border-right: 0.3px solid gray;
  }
  .mobile .menu:last-child{
    border: none;
  }

  .profile-nav {
  top : auto;
  bottom: 100%;
  clip-path: circle(0px at bottom right);
  }

  .profile-nav--open {
    clip-path: circle(250% at bottom right);
  /*   display: block; */
  }

  .profile-nav a {
    color: #000000;
    display: block;
    padding: 1.5em 2.5em 1.5em 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
  }
}
