*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.svg-container{
  position: relative;
  width: min(13rem,40vw);
  height: min(17rem);
  margin: 0rem 2.8rem 1rem 1rem;
}

.svg-container-2{
  position: relative;
  min-width: min(15rem);
  max-width: min(15rem);
  height: min(19rem);
  margin: 1rem 2rem 1rem 1rem;
}

.svg-container-3{
  position: relative;
  width: min(15rem,40vw);
  height: min(19rem);
  margin: 1rem 2rem 1rem 1rem;
}

#signe-dist{
  font-size: 1.3rem;
  font-style: italic;
  margin-top: 5px;
}

#layer_1{
  filter: drop-shadow( 0 0 15px rgba(0, 0, 0, .2));
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.test{
  width: 100%;
  height: 100%;
}

.content-vignette{
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5px 20px 5px;
}

.content-vignette-2{
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5px 34px 5px;
}

#type{
  font-size: 1rem;
  padding-top: 1rem;
}

#dollar{
  font-weight: bold;
}
#model{
  font-size: 1.3rem;
  font-weight: 500;
}

#marque{
  font-size: 1.3rem;
}

#emprunt{
  font-size: 1.1rem;
  font-weight: 200;
}

#start{
  display: flex;
  justify-content: center;
}

.velo-img{
  position: absolute;
  top: 10;
  right: -25%;
  width: 12rem;
}

.container{
  padding: 10% 10%;
}

.begin{
  z-index: 3;
  position: absolute;
  bottom: 0;
  align-self: center;
  background-color: #1b9837;
  border: none;
  color: white;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(33, 159, 39, 0.2);
  box-shadow: 0 5px 20px 0 rgba(27, 142, 35, 0.2);
  -webkit-border-radius: 0px 0px 12px 24px;
  border-radius:  0px 0px 12px 12px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
}

.end{
  z-index: 3;
  position: absolute;
  bottom: 0;
  background-color: #d54d48;
  width: 100%;
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(33, 159, 39, 0.2);
  box-shadow: 0 5px 20px 0 rgba(27, 142, 35, 0.2);
  -webkit-border-radius: 24px;
  border-radius:  0px 0px 12px 12px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
}
#rating{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.star{
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}
.star p{
  font-size: 1rem;
}
.star img{
  width: 2rem;
  margin-right: 5px;
}


.heart svg{
  width: 2.8rem;
}
